<div class="user-form-container">
  <h2>
    {{
      mode === "view"
        ? "User Details"
        : mode === "edit"
        ? "Edit User"
        : "New User"
    }}
  </h2>

  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <mat-tab-group>
      <mat-tab label="Personal Data">
        <div class="form-section">
          <mat-form-field>
            <mat-label>Document ID</mat-label>
            <input matInput formControlName="documentId" />
            <mat-error *ngIf="userForm.get('documentId')?.errors?.['required']">
              Document ID is required
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>First Name</mat-label>
            <input matInput formControlName="firstName" />
            <mat-error *ngIf="userForm.get('firstName')?.errors?.['required']">
              First Name is required
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>First Last Name</mat-label>
            <input matInput formControlName="lastName1" />
            <mat-error *ngIf="userForm.get('lastName1')?.errors?.['required']">
              First Last Name is required
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Second Last Name</mat-label>
            <input matInput formControlName="lastName2" />
          </mat-form-field>

          <mat-form-field>
            <mat-label>User Type</mat-label>
            <mat-select formControlName="type">
              <mat-option value="applicant">Applicant</mat-option>
              <mat-option value="employee">Employee</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </mat-tab>

      <mat-tab label="Address">
        <div formGroupName="address" class="form-section">
          <mat-form-field>
            <mat-label>Street</mat-label>
            <input matInput formControlName="street" />
          </mat-form-field>

          <mat-form-field>
            <mat-label>Number</mat-label>
            <input matInput formControlName="number" />
          </mat-form-field>

          <mat-form-field>
            <mat-label>Door</mat-label>
            <input matInput formControlName="door" />
          </mat-form-field>

          <mat-form-field>
            <mat-label>Postal Code</mat-label>
            <input matInput formControlName="postalCode" />
          </mat-form-field>

          <mat-form-field>
            <mat-label>City</mat-label>
            <input matInput formControlName="city" />
          </mat-form-field>
        </div>
      </mat-tab>

      <mat-tab
        [label]="
          userForm.get('type')?.value === 'applicant'
            ? 'Education'
            : 'Work Experience'
        "
      >
        <div
          class="form-section"
          *ngIf="userForm.get('type')?.value === 'employee'"
        >
          <button mat-button type="button" (click)="addWorkExperience()">
            Add Work Experience
          </button>
          <div
            formArrayName="workExperience"
            *ngFor="let exp of workExperience.controls; let i = index"
          >
            <div class="form-section" [formGroupName]="i">
              <mat-form-field>
                <mat-label>Company Name</mat-label>
                <input matInput formControlName="companyName" />
                <mat-error *ngIf="exp.get('companyName')?.errors?.['required']">
                  Company Name is required
                </mat-error>
              </mat-form-field>

              <mat-form-field>
                <mat-label>Position</mat-label>
                <input matInput formControlName="position" />
                <mat-error *ngIf="exp.get('position')?.errors?.['required']">
                  Position is required
                </mat-error>
              </mat-form-field>

              <mat-form-field>
                <mat-label>Date</mat-label>
                <input
                  matInput
                  [matDatepicker]="picker"
                  formControlName="date"
                />
                <mat-datepicker-toggle
                  matIconSuffix
                  [for]="picker"
                ></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error *ngIf="exp.get('date')?.errors?.['required']">
                  Date is required
                </mat-error>
              </mat-form-field>

              <button
                mat-button
                type="button"
                (click)="removeWorkExperience(i)"
              >
                Remove
              </button>
            </div>
          </div>
        </div>

        <div
          class="form-section"
          *ngIf="userForm.get('type')?.value === 'applicant'"
        >
          <button mat-button type="button" (click)="addEducation()">
            Add Education
          </button>
          <div
            formArrayName="education"
            *ngFor="let edu of education.controls; let i = index"
          >
            <div class="form-section" [formGroupName]="i">
              <mat-form-field>
                <mat-label>Institution Name</mat-label>
                <input matInput formControlName="institutionName" />
                <mat-error
                  *ngIf="edu.get('institutionName')?.errors?.['required']"
                >
                  Institution Name is required
                </mat-error>
              </mat-form-field>

              <mat-form-field>
                <mat-label>Degree</mat-label>
                <input matInput formControlName="degree" />
                <mat-error *ngIf="edu.get('degree')?.errors?.['required']">
                  Degree is required
                </mat-error>
              </mat-form-field>

              <mat-form-field>
                <mat-label>Date</mat-label>
                <input
                  matInput
                  [matDatepicker]="picker"
                  formControlName="date"
                />
                <mat-datepicker-toggle
                  matIconSuffix
                  [for]="picker"
                ></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error *ngIf="edu.get('date')?.errors?.['required']">
                  Date is required
                </mat-error>
              </mat-form-field>

              <button mat-button type="button" (click)="removeEducation(i)">
                Remove
              </button>
            </div>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>

    <div class="form-actions">
      <button
        *ngIf="mode !== 'view'"
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="userForm.invalid"
      >
        Save
      </button>
      <button mat-button type="button" (click)="cancel()">
        {{ mode === "view" ? "Back" : "Cancel" }}
      </button>
    </div>
  </form>
</div>
